body {
    margin: 0;
    padding: 0;
    background-color: #232323;
    color: #a8a7a7;
    font-family: sans-serif;
}
header {
    margin: 10px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#teaser {
    width: 100%;
    height: 300px;
    
}
#teaser img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}